label,
.custom-font {
    font-family: sans-serif;
    color: rgb(17, 12, 68);
}

button:hover,
button:focus {
    background-color: #16437E;
    color: #ffffff;
}

button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.ruler-button {
    padding-top: 40px;
    align-items: center;
    position: fixed;
    bottom: 480px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; 
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.text-danger{
    font-size: small;
}