label,
h1 {
  font-family: Arial, sans-serif;
}

.ruler-major,
.ruler-minor {
  font-family: 'Roboto', sans-serif;
  font-size: small;
}

.ruler-container {
  position: relative;
  overflow: auto;
  width: 150px;
  height: 350px;
  background-color: lightgray;
}

.ruler-minor,
.ruler-major {
  position: relative;
}

.ruler-major {
  position: relative;
}