
h1 {
  font-family: Arial, sans-serif;
}

label {
  font-family: Arial, sans-serif;
}

  .marking {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    overflow: auto;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      background-image: 
        linear-gradient(to right, #000000 1px, transparent 1px);
      background-size: 100px 60%;
      background-repeat: repeat-x;
      background-position: bottom left;
    }
  }

  .majorTicks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    overflow: auto;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      background-image:
        linear-gradient(to right, #ff0000 1px, transparent 1px);
      background-size: 33.33333px 30%;
      background-repeat: repeat-x;
      background-position: bottom left;
    }
  }