<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<nav class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-center align-items-center">
    <a class="navbar-brand text-white custom-font">CUSTOM RULER SCALE</a>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-sm">
      <label for="scaleLength">Scale Length(cm)</label>
      <input type="number" class="form-control" [(ngModel)]="scaleLength" placeholder="Choose Scale Length (cm)">
    </div>
    <div class="col-sm">
      <label for="majorTicks">Major Ticks</label>
      <input type="number" class="form-control" [(ngModel)]="selectedMajorTick" placeholder="Choose Major Ticks">
    </div>
    <div class="col-sm">
      <label for="minorTicks">Minor Ticks</label>
      <input type="number" class="form-control" [(ngModel)]="selectedMinorTick" placeholder="Choose Minor Ticks">
    </div>
    <div class="ruler-button col-12 d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-info" id=ruler-Button (click)="makeVisible()">Generate Ruler Scale</button>
    </div>
  </div>
</div>

<div *ngIf="isScaleVisible">
  <app-ruler [scaleLength]="scaleLength" [majorTick]="selectedMajorTick" [minorTick]="selectedMinorTick"></app-ruler>
</div>
